body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
  }
  
  #todo-container {
    width: 300px;
    text-align: center;
    background-color: #fff;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #center-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  #date-container {
    margin-top: 10px;
  }
  
  #date {
    font-size: 18px;
    color: #3498db;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px;
  }
  
  .delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
 
  input, button {
    margin-top: 10px;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(imagesgif/second.gif) center;
    background-size: cover;  
    background-color: #584444;
    filter: grayscale(0.7);
  }
  